<footer>
  <div class="container-fluid mt-5  " style="background: linear-gradient(to right,  #bdc3c7, #2c3e50);">
      <div class="row text-center d-flex justify-content-center">
       <div class="col-sm-2 mt-3 col-lg-1">
       	<a href="https://www.facebook.com">
       		<i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="color: #3B5998;"></i>
       	</a>
      
    </div>
    <div class="col-sm-2 mt-3 col-lg-1">
    	<a href="https://www.instagram.com" >
    		<i class="fa fa-instagram fa-3x" aria-hidden="true" style="color: #bc2a8d"></i>
    	</a>
      
    </div>
    <div class="col-sm-2 mt-3 col-lg-1">
    	<a href="https://www.twitter.com"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
      
    </div>    
  </div>
  <div class="text-center font-italic mt-2 p-1"><h6>Created by FlashCoders</h6></div>
</div>
</footer>	

<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
<script>
			CKEDITOR.replace( 'blog[body]' );
		</script>
<script src="/scripts/clipboard.js"></script>
</body>
</html>
