<% include ./partials/header %>

<div class="container">
	<div class="jumbotron text-center mt-5">
		<h1 class="display-4">Set Price
		    <i class="fa fa-inr" aria-hidden="true"></i>
		</h1>

		
    <div class="table-responsive-sm">
	  <table class="table table-striped table-hover ">
		<tr class="bg-info text-center"><th>Payment Info Pending</th></tr>
	  </table>
			<table class="table">
			  <tbody>
			    <tr>
			      <th scope="row">Code No.</th>
			      <td><%=post.code%></td>
			    </tr>
			    <tr>
			      <th scope="row">Title</th>
			      <td><%=post.title.toUpperCase()%></td>
			     </tr>
			    <tr>
			      <th scope="row">Date Created</th>
			      <td><%=post.created.toDateString()%></td>
			     </tr>
			     <tr>
			      <th scope="row">Subject</th>
			      <td><%=post.subject.toUpperCase()%></td>
			     </tr>
			     <tr>
			      <th scope="row">Download</th>
			      <td><a href="/home/<%=post._id %>/download">Download Pdf</a></td>
			     </tr>
			     <tr>
			      <th scope="row">Pages</th>
			      <td><%=post.pages%></td>
			     </tr>
			  </tbody>
			</table>
		</div>	   









        <form action="/shopkeeper/<%=post._id%>/edit" method="POST">
           <input type="number" placeholder="Price" name="price" value="<%=price%>" class='form-control'>
              <button  class="btn btn-outline-info mt-2">Submit</button>
        </form>
	</div>
</div>










<% include ./partials/footer %>

