<% include partials/blog_header %>

<!-- <div class="ui main text container segment">
    <div class="ui huge header">Edit Post</div>
    <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" value="<%= blog.title %>" name="blog[title]">
        </div>
        <div class="field">
            <label>Post Content</label>
            <textarea name="blog[body]" required><%= blog.body %></textarea>
        </div>
        <button class="ui big violet basic button">Update Post</button>
    </form>
</div> -->

<div class="container mt-5">
<div class="jumbotron jumbotron-fluid p-5">
  
    <h1 class="display-4 text-center mb-4">Edit Post
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </h1>
    <form action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        <div class="field">
            <label >Title</label>
            <div>
                <input type="text" class="form-control" name="blog[title]" value="<%= blog.title %>">
            </div><br>
            
        </div>
        <div class="field">
            <label>Image</label>
            <div>
                <input type="text" class="form-control" name="blog[image]" value="<%= blog.title %>">
            </div>
            <br>
            
        </div>
        <div class="field">
            <label>Post Content</label>
            <div>
                <textarea name="blog[body]" required><%= blog.body %></textarea>
            </div>
            <br>
            
        </div>
        <div class="text-center">
            <button class="btn btn-success">Edit Post</button>
        </div>
    </form>
    
  </div>
</div>

<% include partials/footer %>