<% include partials/header %>
<!-- <form action="/blogs/<%=post_id%>/comment/<%=comment._id%>?_method=PUT" method="POST" class="mt-5">
    <div class="container">
        <div class="form-group form-check-inline w-100">
            <input type="text" placeholder="Comment" name="comment[text]" value="<%=comment.text%>" class="form-control">
            <button class="btn  btn-primary">SUBMIiiT</button>
        </div>
    </div>
</form>
 -->

<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid p-5">
   	<h1 class="display-4 text-center mb-4">Edit Comment
   		<i class="fa fa-pencil" aria-hidden="true"></i>
   	</h1>

   	<form action="/blogs/<%=post_id%>/comment/<%=comment._id%>?_method=PUT" method="POST" class="mt-5">
    <div class="container">
        <div class="form-group form-check-inline w-100">
            <input type="text" placeholder="Comment" name="comment[text]" value="<%=comment.text%>" class="form-control">
            <button class="btn  btn-primary">SUBMIT</button>
        </div>
    </div>
</form>
  </div>
</div>
<% include partials/footer %>