<% include partials/header %>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0 border">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/home">Materials</a></li>
    <li class="breadcrumb-item active" aria-current="page">Notes</li>
  </ol>
</nav>

	<!--Codes-->
<div class="container mt-5" >
<!--   <h2>Codes</h2>
  <strong>Your Helping Hand</strong>
  <hr>
  <p>Please check from the following codes: </p>
 -->
  <div class="jumbotron text-center">
    <h1 class="display-4">CodeHelper</h1>
    <strong>Your Helping Hand</strong>
    <hr>
  </div>
  <div class="card-body">
    <p class="card-text">Total codes available: <strong><%=posts.length;%></strong></p>
  </div>
  <p>Please check from the following codes: </p>
  <div class="table-wrapper">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="bg-info">

        <th>Code</th>
        <th>Subject</th>
        <th>Date Created</th>
        <th>More Info</th>
      </tr>
    </thead>
    <tbody>

          <%  posts.reverse().forEach(function(post){ %>
      <tr>

        <td><%=post.code%></td>
        <td><%=post.subject.toUpperCase()%></td>
        <td><%=post.created.toDateString()%></td>
        <td><a href="/home/<%= post._id %>">Full details</a></td>
      </tr>

    <%  }) %>


    </tbody>
  </table>
</div>

  <%if(noMatch !== null){%>
  <h4 class="text-center"><%=noMatch%></h4>
  <%}%>
</div>
    <% include partials/footer %>
