<% include partials/header %>

<nav aria-label="breadcrumb mt-0">
  <ol class="breadcrumb mb-0 border">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Upload</li>
  </ol>
</nav>


<div class="jumbotron mt-4">
  <div class="container bg-light">
    <form action="/home" method="post" enctype="multipart/form-data">
    <h3 class="p-4">
    <strong>Select pdf file to upload:</strong>
    </h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-2">
            <input type="text" class="form-control" placeholder="Code" name="post[code]">
          </div>
          <div class="col-md-4 col-sm-12 mt-2">
            <input type="text" class="form-control" placeholder="Subject" name="post[subject]">
          </div>
          <div class="col-md-4 col-sm-12 mt-2">
            <input type="text" class="form-control" placeholder="Title" name="post[title]">
          </div>
        </div>
        <div class="form-group mt-5">
        <h5>Enter Notes Details:</h5>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
      <input type="file" class="mt-3" name="pdf">
      <input type="submit" class="btn btn-outline-info btn-sm my-3">
      </div>
    </form>
  </div>
</div>
<% include partials/footer %>
