<% include ./partials/header %>


<!-- 1st table -->
<div class="container mt-5 mb-5">
	<div class="table-wrapper">
	<table class="table table-striped table-hover ">
		<tr class="bg-info text-center"><th>Payment Info Pending</th></tr>
	</table>
	</div>
	<div class="table-wrapper">
	<table class="table table-hover table-striped ">
	  <thead>
	    <tr>
	      <th scope="col"></th>
	      <th scope="col">Code No.</th>
	      <th scope="col">Title</th>
				<th scope="col">Date Created</th>
				<th scope="col">Subject</th>
				<th scope="col">Download</th>
				<th scope="col">Pages</th>
				<th scope="col">Set Price</th>
	     </tr>
	  </thead>
	  <tbody>
	  	<%var count = 1%>
	  	<%infoPending.forEach(function(element){%>
        <tr>
        	<th scope="row"><%=count%></th>
        	<td><%=element.code%></td>
        	<td><%=element.title.toUpperCase();%></td>
					<td><%=element.created.toDateString()%></td>
					<td><%=element.subject.toUpperCase()%></td>
					<td><a href="/home/<%=element._id %>/download">Download Pdf</a></td>
					<td><%=element.pages%></td>
					<td><a href="/shopkeeper/<%=element._id%>">Set Price</a></td>


           <%count+=1%>
	    </tr>
        <%})%>

	  </tbody>
	</table>
	</div>
</div>

<!-- 2nd table -->

<div class="container mt-5 mb-5">
	<div class="table-wrapper">
	<table class="table table-striped table-hover ">
		<tr class="bg-info text-center"><th>Payment Info Done</th></tr>
	</table>
</div>
<div class="table-wrapper">
	<table class="table table-hover table-striped">
	  <thead>
	    <tr>
				<th scope="col">#</th>
	      <th scope="col">Code No.</th>
	      <th scope="col">Title</th>
				<th scope="col">Date Created</th>
				<th scope="col">Subject</th>
				<th scope="col">Download</th>
				<th scope="col">Pages</th>
				<th scope="col">Current Price</th>
				<th scope="col">Edit Price</th>
	     </tr>
	  </thead>
	  <tbody>
	  	<%var count = 1%>
	  	<%infoDone.forEach(function(element){%>
        <tr>
					<th scope="row"><%=count%></th>
        	<td><%=element.code%></td>
        	<td><%=element.title.toUpperCase();%></td>
					<td><%=element.created.toDateString()%></td>
					<td><%=element.subject.toUpperCase()%></td>
					<td><a href="/home/<%=element._id %>/download">Download Pdf</a></td>
					<td><%=element.pages%></td>
					<td><%=element.payments[0].price%></td>
					<td><a href="/shopkeeper/<%=element._id%>/edit">Edit Price</a></td>
           <%count+=1%>
	    </tr>
        <%})%>

	  </tbody>
	</table>
</div>
</div>



<% include ./partials/footer %>
